<!DOCTYPE html>
<html>
<head>
    <title>Lumia Training</title>
    <style>
        /* Add your CSS here */
        .center {
            text-align: center;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>Lumia Dojo</h1>
    <p class="center">Countdouwn: {{ countdown }}</p>
    <form action="/home" method="POST">
        <img src="Curve_clasifier_client/static/image.png" class="center">
        
        <p class="center">Curve ID: {{ curve_id }}</p>
        <table class="table table-bordered mt-3" border="1">
            <thead>
                <tr>
                    <th>HIGH TEMPERATURE</th>
                    <th>LOW LEMPERATURE</th>
                    <th>NPOINTS</th>
                    <th>HEATING RATE</th>
                    <th>PRE HEAT TEMP</th>
                    <th>PRE HEAT TIME</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="high_value">{{ high_value }}</td>
                    <td id="low_value">{{ low_value }}</td>
                    <td id="npoints_value">{{ npoints_value }}</td>
                    <td id="rate_value">{{ rate_value }}</td>
                    <td id="an_temp_value">{{ an_temp_value }}</td>
                    <td id="an_time_value">{{ an_time_value }}</td>
                </tr>
            </tbody>
        </table>
        <p>{{ statement }}</p>

        <input type="hidden" name="curve_id" value="{{ curve_id }}">
        <input type="submit" name="choice" value="True" style="background-color: green">
        <input type="submit" name="choice" value="False" style="background-color: red">
    </form>
</body>
</html>